header {
    height: 200px;
    width:100%;
    background-color: white;
}

#wrapper {
    width: 100%;
    background-color: #eae8eb;
    height: 1500px;
}

h1 {
    text-align: center;
    font-size: 500%;
    color: #D57917;
    margin-top:-20px;
}

h2 {
    font-size: 225%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    Color: black;
}

#articlegroot {
    width: 35%;
    height: 750px;
    margin-left: 100px;
    margin-top: 50px;
    float: left;
}

Article p {
    font-size: 150%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#image {
    float: right;
    margin-top: 50px;
    margin-right: 100px;
}

#mainklein {
    float: right;
    Width: 40%;
    height: 377px;
    margin-right: 100px;
    margin-top: 30px;
}

main p {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 110%;
}
