header {
    width: 100%;
    background-color: white;
    height :250px;
}

#wrapper {
    width: 100%;
    height: 1500px;
    background-color: #eae8eb;
}

#articleklein {
    height: 400px;
    width: 25%;
    background-color: white;
    float: left;
    margin-left: 250px;
    margin-top: 50px;
}

#articlegroot {
    height: 1000px;
    width: 35%;
    float: right;
    margin-left: 150px;
    background-color: white;
    margin-right:150px;
    margin-top: 50px;
}

#articlegroot {
    text-align: center;
}

Article p {
    font-size:200%;
    color: lightcoral;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
}

H1 {
    Font-size: 500%;
    text-align:center;
    color: #D57917;
    margin-top: 0px;
    padding-bottom: 10px;

}

H2 {
    font-size: 300%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

H3 {
    font-size: 175%;
    font-family:'Courier New', Courier, monospace;
    color: darkblue;
}

#image {
    float: left;
    margin-left: 250px;
    margin-top: 20px;
    width: 20%;
}

.blok {
    float: left;
}
 