/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */


header {
   width: 100%;
   height: auto;
   background-color: #eae8eb;
   margin: auto;
 }
  
 


  
 .big {
   width: 28.8%;
   height: auto;
   float: left;
   margin-left: 4.5%;
   background-color: #eae8eb;
   font-family:Georgia, 'Times New Roman', Times, serif;
   text-align: center;
   margin-bottom: 5%;
 }
  
 .small {
   width: 27%;
   height: auto;
   float: left;
   background-color: #eae8eb;
   margin-left:4.5%;
   font-family:Georgia, 'Times New Roman', Times, serif;
   text-align: center;
   margin-bottom: 5%;
 }
  

 #wrapper {
   width: 100%;
   height: auto;
   color:#7D7880;
   background-color: #eae8eb;
   
 }

 .blok {
   float: left;
 }

 

 .foto1 {
float: left;
margin-bottom: 0%;
margin-top: 5%;
background-color: #7D7880;
width: 27%;
margin-left: 4.5%;
 }

 .foto2 {
float: left;
margin-bottom: 0%;
margin-top: 5%;
background-color:#7D7880;
width: 28.8%;
margin-left: 4.5%;
 }

 h1  { 
color:#D57917;
text-align:center;
font-size: 500%;
margin-top: -5%;
 }

 h2 {
  color:red;
  font-size:260%;
  text-align:center;
  margin: 1%;
 }

 h3 {
  color:black;
  font-size:340%;
  text-align:center;
  margin: 1%;
 }

 .table {
  font-size:150%;
  margin-bottom: 2%;
  text-align: left;
  margin-left: 5%;
 }

 #kopje {
  margin-bottom:15px;
 }

 #table {
  margin-bottom: 40px;
 }

 
 
 
 .linkje {
  text-decoration: none;
 }

 a:hover {
text-decoration:underline;
 }

 #home {
  width: 4%;
  height: auto;
 }

 #contact-us {
  width: 4%;
  height:auto;
 }